body {
    background: url("../images/background.png"); //no-repeat center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    // font-style: italic;
    font-weight: bolder;
    color: rgb(140, 142, 146);
    // text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.title {
    font-size: 60px;
    color: white;
    text-shadow: rgb(113, 118, 38);
    padding-left: 72px;
}
.score, .movement {
    font-size: 30px;
    color: rgb(12, 50, 22);
    text-shadow: 4px 4px 8px rgb(233, 233, 229);
    text-transform: uppercase;
    font-weight: 200;
}

.level {
    text-align: left;
    color: rgb(140, 142, 146);
}

.goal {
    text-align: left;
    color: rgb(140, 142, 146);
}

#board {
    width: 500px;
    height: 500px;
    background-color: rgb(42, 100, 48);
    border: 5px solid rgb(103, 26, 26);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 55px;
    height: 55px;
}


.gameOver {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 10;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    justify-content: center;
    /* Full height */
    /* Enable scroll if needed */
    // background-color: rgb(0, 0, 0);
    /* Fallback color */
    // background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.game-over-label {
    color: rgb(104, 13, 13);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px rgb(193, 190, 18);
    text-align: center;
    font-size: 100px;
}

.game-won-label {
    color: rgb(117, 11, 11);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px rgb(193, 190, 18);
    text-align: center;
    font-size: 110px;
}


.gameWon {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 70%;
    height: 70%;
    justify-content: center;
}

.gameWon-inner {
  background-color: rgb(12, 50, 22);
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid rgb(193, 190, 18);
  width: 50%; 
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
}

.gameOver-inner {
    //background-color: rgb(247, 244, 244);
    background-color: rgb(12, 50, 22);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(193, 190, 18);
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    border-radius: 10px;
    margin: 0 auto;
  }

.re-start-button-div {
    width: 70%;
    justify-content: center;
}


.startGameModal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 254, 254); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}


.startGameModalContent {
    // background-color: #fefefe;
    // background: url('../images/christmas-flakes-copy.gif'); 
    // background-repeat: repeat; 
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    // border: 1px solid rgb(255, 255, 255);
    width: 65%; /* Could be more or less, depending on screen size */
    height: 85%;
   
}
.video {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.game-start-model-label, .gamePlay, .gameInstructions {
    top: -600px;
    position: relative;
    text-align: center;
    margin: 15px;
    color: rgb(14, 46, 10);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-style: italic;
    text-shadow: 4px 4px 8px rgb(255, 255, 255);
    font-size: 100px;
}

.gamePlay, .gameInstructions {
    color: rgb(6, 33, 13);
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 5px solid rgb(103, 26, 26);
    border-radius: 10px;
  }
  
.gamePlay:hover,
.gameInstructions:hover,

.gamePlay:focus, .game-won-label:focus {
    color: rgb(62, 7, 7);
    text-decoration: none;
    cursor: pointer;
}


.button-container {
    top: -600px;
    text-align: center;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}